:root {
  transition: all 0.3s ease-in-out;
}

.dark.react-select,
.dark.react-select * {
  background-color: color-mix(in srgb, var(--bs-body-bg) 95%, white 5%);
  color: var(--bs-body-color);
  border-color: var(--bs-border-color);
}

.dark.react-select [class$='multiValue'] * {
  background-color: color-mix(in srgb, var(--bs-body-bg) 80%, white 20%);
}

.no-underline,
.no-underline:hover {
  text-decoration: none;
}

.block {
  display: block;
}
